.button {
    -fx-font-weight: bold;
}

#login_screen {
    /*-fx-background-color: #2a2e37;*/
    -fx-background-image: url("images/cover.jpg");
    -fx-background-position: center center;

}

#login_title {
    -fx-font-size: 3.5em;
    -fx-font-family: Serif;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-text-fill: #ffd700;
}

#login_button {
    -fx-font-size: 1.5em;
    -fx-border-width: 3px;
    -fx-background-radius: 1200px;
    -fx-background-color: #ffd700;
    -fx-font-weight: bold;
    -fx-font-family: Serif;
    -fx-font-color: #000000;
    -fx-padding:10px;
    -fx-cursor:hand;
}

.buttonType{
    -fx-cursor:hand;
}

.login_data {
    -fx-text-fill: #ff0019;
    -fx-font-size: 2em;
}

#error_box {
    -fx-text-fill: #ff0000;
}

.table-row-cell:even {
    /* -fx-background-color: -fx-table-cell-border-color, #00ff00; */
    -fx-background-color: #202932;
}

.table-row-cell:odd {
    /* -fx-background-color: -fx-table-cell-border-color, #00ff00; */
    -fx-background-color: #2c3845;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-view .table-column {
    -fx-alignment: center;
    /* -fx-table-cell-border-color: #00ff00; */
}

.table-view .column-header {
    -fx-background-color: #2c3845;
    -fx-border-color: white;
}

.table-view .column-header-background .label {
    -fx-text-fill: white;
}

#pane{
    -fx-background-image: url("images/cover.jpg");
}

#product_windows {
    -fx-background-color: #2c3845;
}


.label {
    /* felhasználóinév + jelszó text szín */
    -fx-font-family: Serif;
    -fx-text-fill: #ffd700;
    -fx-font-weight: bold;
    -fx-text-background-color: blue;
}
.panel{
    -fx-background-color: #000000;
    -fx-background-radius: 30;
}
