.button {
    -fx-font-weight: bold;
}
/*TO DO*/
#main_screen {
    /*-fx-background-color: #2a2e37;*/
    -fx-background-image: url("images/pages.jpg");
    -fx-background-position: center center;

}

#login_title {
    -fx-font-size: 3.5em;
    -fx-font-family: Serif;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-text-fill: #ffd700;
}

#add_button {
    -fx-font-size: 1.5em;
    -fx-border-width: 3px;
    -fx-background-radius: 1200px;
    -fx-background-color: #ffd700;
    -fx-font-weight: bold;
    -fx-font-family: Serif;
    -fx-font-color: #000000;
    -fx-padding:10px;
    -fx-cursor:hand;
}

#exit_button {
    -fx-font-size: 1.5em;
    -fx-border-width: 3px;
    -fx-background-radius: 1200px;
    -fx-background-color: #ffd700;
    -fx-font-weight: bold;
    -fx-font-family: Serif;
    -fx-font-color: #000000;
    -fx-padding:10px;
    -fx-cursor:hand;
}

#back_button {
    -fx-font-size: 1.5em;
    -fx-border-width: 3px;
    -fx-background-radius: 1200px;
    -fx-background-color: #ffd700;
    -fx-font-weight: bold;
    -fx-font-family: Serif;
    -fx-font-color: #000000;
    -fx-padding:10px;
    -fx-cursor:hand;
}

#delete_button {
    -fx-font-size: 1.5em;
    -fx-border-width: 3px;
    -fx-background-radius: 1200px;
    -fx-background-color: #ffd700;
    -fx-font-weight: bold;
    -fx-font-family: Serif;
    -fx-font-color: #000000;
    -fx-padding:10px;
    -fx-cursor:hand;
}

.buttonType{
    -fx-cursor:hand;
}

.login_data {
    -fx-text-fill: #ff0019;
    -fx-font-size: 2em;
}

#error_box {
    -fx-text-fill: #ff0000;
}

.label {
    /* felhasználóinév + jelszó text szín */
    -fx-font-family: Serif;
    -fx-text-fill: #ffd700;
    -fx-font-weight: bold;
    -fx-text-background-color: blue;
}
.panel{
    -fx-background-color: #000000;
    -fx-background-radius: 30;
}
